.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #0418f5;
  color: white;
}

.logo a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.cart-icon a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.cart-icon a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  position: relative; /* Add this line */
}

.cart-count {
  background-color: red;
  color: white;
  font-size: 14px;
  padding: 2px 6px;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  right: -8px;
}






